<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- escala del viewpoint-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link para FONTAWESOME - Iconos-->
    <script
      src="https://kit.fontawesome.com/0082413ecf.js"
      crossorigin="anonymous"
    ></script>
    <!-- link al style -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- FAVICON -->
    <link rel="icon" href="../image/SM_logo.ico" />
    <!-- titulo de la pagina -->
    <title>
      Inicia en el mundo del modelaje en nuestra agencia | Soy Modelo
    </title>
    <meta
      name="description"
      content="Enterate como iniciar de esta hermosa carrera, contada por expertos de esta industria en el Perú"
    />
    <meta
      name="keywords"
      content="modelaje, inicios, tips, pasos, Peru, 2021, Historia, desarrollo"
    />
  </head>

  <body>
    <header>
      <nav class="main-nav row">
        <a href="../../index.html"
          ><img src="../image/SM_logo.png" alt="Logo Soy Modelo" class="logo"
        /></a>
        <!-- Icon para movil -->

        <ul class="menu-bar">
          <li><a href="../../index.html">Inicio</a></li>
          <li><a href="servicios.html">Servicios</a></li>
          <li><a href="modelos.html">Modelos</a></li>
          <li><a href="imodel.html">I-Model</a></li>
          <li><a href="contacto.html">Contacto</a></li>
          <li class="menu-mobile__close">
            <i class="fas fa-window-close"></i>
          </li>
        </ul>
        <div class="menu-mobile">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
    </header>

    <main>
      <section class="hero">
        <div class="intern-hero">
          <img
            src="../image/intern_hero_opti.jpg"
            alt="hero interno"
            class="intern-hero__img"
          />
        </div>
      </section>
      <div class="blog-content row">
        <article class="content-blog">
          <div class="content-blog__text">
            <div class="content-blog__text--header">
              <div class="titulo">
                <img src="../image/modelo2_opti_blog.jpg" alt="modelo varon" />
                <h1>Como iniciar en el modelaje</h1>
              </div>

              <p>22 Oct 2021</p>
              <a href="" class="blog-category">Modelos</a>
            </div>
            <p>
              Si te estás preguntando cómo ser modelo, estás en el lugar
              indicado. En este artículo te hablo de los 4 tips báscos, y más
              fáciles de lo que imaginas, que tienes que saber si lo que quieres
              es empezar en el mundo del modelaje. Pero ojo! Que estos tips que
              te voy a dar sean fáciles de llevar a cabo, no significa que
              construir tu carrera como modelo también lo sea. Siempre lo he
              dicho y lo seguiré repitiendo, este es un mundo muy sufrido y que
              requiere de mucho esfuerzo y dedicación, de ti dependerá llegar
              lejos o no
            </p>

            <h2 class="titulo2-blog">¿Cómo ser modelo?</h2>
            <p>
              No puedo empezar este artículo sin decir que no hay un tipo de
              perfil concreto para ser modelo. De hecho, desde hace
              relativamente pocos años, hubo un boom de inclusión en el mundo de
              la moda, lo que ha dejado cabida para modelos de muchos tipos de
              perfiles distintos.
            </p>
            <p>
              El primer paso es hacerte unas fotos casuales, las puedes hacer tu
              misma en casa en un fondo limpio, sin necesidad de buscar a un
              fotógrafo para que te las haga. Estas fotos sirven para que
              agencias como nosotros puedan verte de una forma muy natural y
              analicen tu potencial.
            </p>
            <p>
              Un segundo paso es que empieces a cuidar tu imagen, Ya seas modelo
              de talla 34/36, modelo curvy, modelo petite, o el tipo de perfil
              que tengas, es de suma importancia que cuides tu cuerpo y tu piel.
              Recuerda que somos lo que comemos, y que ciertos alimentos se van
              para una u otra parte del cuerpo, y no solo eso, sino que, si
              comemos mal o bien se ve directamente reflejado en nuestra cara
              también, viendose más o menos sana, con más o menos ojeras, es por
              ello la importancia de llevar una dieta sana y equilibrada.
              Recuerda que el ejercicio también es importante para este trabajo,
              sobre todo para los modelos fitness, ya que de ello depende su
              carrera, pero en general todos los modelos, hombre o mujeres,
              tenemos que cuidarnos un mínimo haciendo ejercicio para mantener
              el cuerpo en forma, ya seas curvy o con una talla más delgada.
            </p>
            <p>
              Cumpliendo estos pasos, solo queda contactarnos, te asesoraremos y
              con los contactos adecuados podras llegar muy lejos en esta
              industria.
            </p>

            <div class="video-detail">
              <div class="video-detail__text">
                <h2>Disfruta del detras de camara de una sesion de fotos</h2>
                <p>
                  En esta sesión de fotos podrás observar nuestra forma de
                  trabajo, te garantizamos un trabajo profesional y nuestras
                  modelos lo podrán corroborar. Si tienes alguna consulta no
                  dudes en contactarnos.
                </p>
              </div>
              <div class="video-detail__frame">
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/lPjXROvJVSI"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </article>
        <div class="side-bar">
          <div class="sider-bar__header">
            <h2>Articulos de interes</h2>
          </div>
          <div class="side-bar__content">
            <ul class="articulos">
              <li class="articulo">
                <div class="articulo__main-img">
                  <img
                    class="img"
                    src="../image/modelo1_opti.jpg"
                    alt="top ten modelos"
                  />
                  <div class="articulo__main-img--detail">
                    <a href=""
                      ><h2>El Top 10 de modelos mejor pagadas del Mundo</h2></a
                    >
                    <div class="articulo__main-img--icons">
                      <div class="articulo__icons--share icon-box">
                        <a href=""><i class="fas fa-share-alt"></i></a>
                        <span>34</span>
                      </div>

                      <div class="articulo__icons--vistas icon-box">
                        <i class="far fa-eye"></i>
                        <span>34</span>
                      </div>

                      <div class="articulo__icons--likes icon-box">
                        <i class="far fa-thumbs-up"></i>
                        <span>120</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="articulo__content">
                  <div class="blog-category">Modelos</div>
                  <div class="blog-excerpt">
                    <p>
                      En i-Model recopilamos una relación de las 10 modelos
                      mejores pagadas del mundo, no te pierdas este articulo.
                    </p>
                  </div>

                  <a class="boton__fill" href="pages/imodel-post.html"
                    >Leer mas</a
                  >
                </div>
              </li>

              <li class="articulo">
                <div class="articulo__main-img">
                  <img
                    class="img"
                    src="../image/modelo3_opti.jpg"
                    alt="modelaje inicios"
                  />
                  <div class="articulo__main-img--detail">
                    <a href="imodel-post.html"
                      ><h2>El modelaje en el Perú</h2></a
                    >

                    <div class="articulo__main-img--icons">
                      <div class="articulo__icons--share icon-box">
                        <span>34</span>
                        <a href=""><i class="fas fa-share-alt"></i></a>
                      </div>
                      <div class="articulo__icons--vistas icon-box">
                        <span>34</span>
                        <i class="far fa-eye"></i>
                      </div>
                      <div class="articulo__icons--likes icon-box">
                        <span>120</span>
                        <i class="far fa-thumbs-up"></i>
                      </div>
                    </div>
                  </div>

                  <div class="articulo__content">
                    <div class="blog-category">Modelos</div>
                    <div class="blog-excerpt">
                      <p>
                        Enterate de como inicio el modelaje en el Perú contado
                        por expertos que vieron sus sueños cumplidos en esta
                        industria.
                      </p>
                    </div>

                    <a class="boton__fill" href="imodel-post.html">Leer mas</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="social">
        <div class="social__content row">
          <p>
            Sigue nuestras redes sociales y entérate más sobre nuestros eventos
          </p>
          <div class="sn-icons">
            <a class="sn-icons__link sn-icons__link--fb" href="#"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="sn-icons__link sn-icons__link--tw" href="#"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="sn-icons__link sn-icons__link--ig" href="#"
              ><i class="fab fa-instagram"></i
            ></a>
            <a class="sn-icons__link sn-icons__link--gp" href="#"
              ><i class="fab fa-google-plus-g"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="footer-box">
        <img
          src="../image/SM_logo_footer.png"
          alt="footer logo"
          class="footer-box__logo"
        />
        <p class="footer-box__text">
          Somos la agencia de modelos más importante del Perú. Si quieres
          iniciarte en este mundo o buscas una modelo para tu evento estas en el
          sitio correcto.
        </p>
        <nav class="footer-box__menu">
          <ul>
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="modelos.html">Modelos</a></li>
            <li><a href="imodel.html">I-Model</a></li>
            <li><a href="contacto.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
  <script src="../js/script.js"></script>
</html>
