<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- escala del viewpoint-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link para FONTAWESOME - Iconos-->
    <script
      src="https://kit.fontawesome.com/0082413ecf.js"
      crossorigin="anonymous"
    ></script>
    <!-- link al style -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- FAVICON -->
    <link rel="icon" href="../image/SM_logo.ico" />
    <!-- titulo de la pagina -->
    <title>
      Enterate de las ultimas tendencias en la industria del modelaje | Soy
      Modelo
    </title>
    <meta
      name="description"
      content="i-Model es un blog donde podras encontrar las ultimas tendencias en la industria del modelaje del mundo."
    />
    <meta name="keywords" content="Blog, modelo, tendencia, Peru" />
  </head>

  <body>
    <header>
      <nav class="main-nav row">
        <a href="../../index.html"
          ><img src="../image/SM_logo.png" alt="Logo Soy Modelo" class="logo"
        /></a>
        <!-- Icon para movil -->

        <ul class="menu-bar">
          <li><a href="../../index.html">Inicio</a></li>
          <li><a href="servicios.html">Servicios</a></li>
          <li><a href="modelos.html">Modelos</a></li>
          <li><a href="imodel.html">I-Model</a></li>
          <li><a href="contacto.html">Contacto</a></li>
          <li class="menu-mobile__close">
            <i class="fas fa-window-close"></i>
          </li>
        </ul>
        <div class="menu-mobile">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
    </header>

    <main>
      <section class="hero">
        <div class="intern-hero">
          <img
            src="../image/intern_hero_opti.jpg"
            alt="hero interno"
            class="intern-hero__img"
          />
        </div>
      </section>

      <section class="page-i-model">
        <div class="content row">
          <h1>i-Model</h1>
          <ul class="articulos">
            <li class="articulo">
              <img src="../image/modelo1_opti.jpg" alt="top ten modelos" />
              <div class="articulo__content">
                <p>22 Oct 2021</p>
                <h2>El Top 10 de modelos mejor pagadas del Mundo</h2>
                <div class="boton"><a href="pages/imodel-post.html"></a></div>
              </div>
            </li>
            <li class="articulo">
              <img src="../image/modelo2_opti.jpg" alt="modelaje inicios" />
              <div class="articulo__content">
                <p>27 Oct 2021</p>
                <h2>Como iniciar en el modelaje</h2>
                <div class="boton"><a href="pages/imodel-post.html"></a></div>
              </div>
            </li>
            <li class="articulo">
              <img
                src="../image/modelo3_opti.jpg"
                alt="modelos en latinoamerica"
              />
              <div class="articulo__content">
                <p>10 Nov 2021</p>
                <h2>El modelaje en el Perú</h2>
                <div class="boton"><a href="pages/imodel-post.html"></a></div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <footer>
      <div class="social">
        <div class="social__content row">
          <p>
            Sigue nuestras redes sociales y entérate más sobre nuestros eventos
          </p>
          <div class="sn_icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-box">
        <img
          src="../image/SM_logo_footer.png"
          alt="footer logo"
          class="footer-box__logo"
        />
        <p class="footer-box__text">
          Somos la agencia de modelos más importante del Perú. Si quieres
          iniciarte en este mundo o buscas una modelo para tu evento estas en el
          sitio correcto.
        </p>
        <nav class="footer-box__menu">
          <ul>
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="modelos.html">Modelos</a></li>
            <li><a href="imodel.html">I-Model</a></li>
            <li><a href="contacto.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
  <script src="../js/script.js"></script>
</html>
