<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- escala del viewpoint-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link para FONTAWESOME - Iconos-->
    <script src="https://kit.fontawesome.com/0082413ecf.js" crossorigin="anonymous"></script>
    <!-- link al style -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- FAVICON -->
    <link rel="icon" href="../image/SM_logo.ico">
    <!-- titulo de la pagina -->
    <title>Agencia de modelos en Perú | Soy Modelo</title>

</head>

<body>

    <header>

        <nav class="main-nav row">
            <img src="../image/SM_logo.png" alt="Logo Soy Modelo" Class="logo"> <!-- Icon para movil -->

            <ul class="menu-bar">
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="modelos.html">Modelos</a></li>
                <li><a href="imodel.html">I-Model</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
            <div class="menu-mobile">
                <i class="fas fa-bars"></i>
            </div>
        </nav>

    </header>

    <main>
        <section class="hero">
            <div class="intern-hero">
                <img src="../image/intern_hero.jpg" alt="hero interno" class="intern-hero__img">
            </div>
        </section>
        <article class="content-blog row">

            <div class="content-blog__text">
                <p>22 Oct 2021</p>
                <h1>El Top 10 de modelos</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repellat deleniti recusandae,
                    perferendis explicabo dicta ipsam repudiandae porro earum dignissimos minima cupiditate, officia
                    corporis ipsum accusamus aliquam doloremque facere libero?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repellat deleniti recusandae,
                    perferendis explicabo dicta ipsam repudiandae porro earum dignissimos minima cupiditate, officia
                    corporis ipsum accusamus aliquam doloremque facere libero?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repellat deleniti recusandae,
                    perferendis explicabo dicta ipsam repudiandae porro earum dignissimos minima cupiditate, officia
                    corporis ipsum accusamus aliquam doloremque facere libero?</p>

                <div class="video-detail">
                    <div class="video-detail__text">
                        <h2>Disfruta del detras de camara de su sesion de fotos</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repellat deleniti
                            recusandae, perferendis explicabo dicta ipsam repudiandae porro earum dignissimos minima
                            cupiditate, officia corporis ipsum accusamus aliquam doloremque facere libero?</p>
                    </div>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lPjXROvJVSI"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

            </div>

        </article>

    </main>

    <footer>
        <div class="social">
            <div class="social__content row">
                <p>Sigue nuestras redes sociales y entérate más sobre nuestros eventos</p>
                <div class="sn_icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                </div>
            </div>

        </div>
        <div class="footer-box">
            <img src="../image/SM_logo_footer.png" alt="footer logo" class="footer-box__logo">
            <p class="footer-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eligendi
                asperiores eos dolor repudiandae alias, labore aspernatur optio.</p>
            <nav class="footer-box__menu">
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="modelos.html">Modelos</a></li>
                    <li><a href="imodel.html">I-Model</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </footer>

</body>

</html>