<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- escala del viewpoint-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link para FONTAWESOME - Iconos-->
    <script
      src="https://kit.fontawesome.com/0082413ecf.js"
      crossorigin="anonymous"
    ></script>
    <!-- link al style -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- FAVICON -->
    <link rel="icon" href="../image/SM_logo.ico" />
    <!-- titulo de la pagina -->
    <title>
      Catalogo de modelos y anfitriones disponibles en Perú | Soy Modelo
    </title>
    <meta
      name="description"
      content="Encuentra la modelo que buscas para tu publicidad o la anfitriona perfecta para tu evento en el catalogo de modelos mas extenso del Peru"
    />
    <meta
      name="keywords"
      content="busqueda, evento, publicidad, modelo, Peru"
    />
  </head>

  <body>
    <header>
      <nav class="main-nav row">
        <a href="../../index.html"
          ><img src="../image/SM_logo.png" alt="Logo Soy Modelo" class="logo"
        /></a>
        <!-- Icon para movil -->

        <ul class="menu-bar">
          <li><a href="../../index.html">Inicio</a></li>
          <li><a href="servicios.html">Servicios</a></li>
          <li><a href="#">Modelos</a></li>
          <li><a href="imodel.html">I-Model</a></li>
          <li><a href="contacto.html">Contacto</a></li>
          <li class="menu-mobile__close">
            <i class="fas fa-window-close"></i>
          </li>
        </ul>
        <div class="menu-mobile">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
    </header>

    <main class="modelos-page">
      <section class="hero">
        <div class="intern-hero">
          <img
            src="../image/intern_hero_opti.jpg"
            alt="hero interno"
            class="intern-hero__img"
          />
        </div>
      </section>

      <section class="todos-modelos">
        <div class="modelos-content row">
          <h1>Modelos</h1>
          <p>
            En esta página encontraras encontraras a l@s mejores y mas bell@s
            modelos del Peru. Todas las modelos de este catálogo forman parte
            del equipo de Soy Modelo, no podran ser contratadas de forma
            independiente.
          </p>
        </div>
        <div class="modelos-gallery row">
          <ul class="galeria">
            <li class="g-item galeria__item1">
              <img src="../image/modelo1_opti.jpg" alt="modelo modelo1" />
              <div class="g-item__content">
                <h2>Carla Montalvo</h2>
                <p>Modelo de pasarela</p>
                <div class="socialnetwork-icons">
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-instagram"></i>
                </div>
              </div>
            </li>
            <li class="g-item galeria__item1">
              <img src="../image/modelo2_opti.jpg" alt="modelo modelo2" />
              <div class="g-item__content">
                <h2>Carlos Montoya</h2>
                <p>Modelo de ropa</p>
                <div class="socialnetwork-icons">
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-instagram"></i>
                </div>
              </div>
            </li>
            <li class="g-item galeria__item1">
              <img src="../image/modelo3_opti.jpg" alt="modelo modelo3" />
              <div class="g-item__content">
                <h2>Stella Alvarez</h2>
                <p>Modelo de ropa</p>
                <div class="socialnetwork-icons">
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-instagram"></i>
                </div>
              </div>
            </li>
            <li class="g-item galeria__item1">
              <img src="../image/modelo4_opti.jpg" alt="modelo modelo4" />
              <div class="g-item__content">
                <h2>Fernando Navas</h2>
                <p>Modelo de ropa</p>
                <div class="socialnetwork-icons">
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-instagram"></i>
                </div>
              </div>
            </li>
            <li class="g-item galeria__item1">
              <img src="../image/modelo5_opti.jpg" alt="modelo modelo5" />
              <div class="g-item__content">
                <h2>Daniela Carbajal</h2>
                <p>Modelo de ropa</p>
                <div class="socialnetwork-icons">
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-instagram"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="boton-center">
          <a href="#" class="boton__ghost">Cargar más</a>
        </div>
      </section>
    </main>

    <footer>
      <div class="social">
        <div class="social__content row">
          <p>
            Sigue nuestras redes sociales y entérate más sobre nuestros eventos
          </p>
          <div class="sn_icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-box">
        <img
          src="../image/SM_logo_footer.png"
          alt="footer logo"
          class="footer-box__logo"
        />
        <p class="footer-box__text">
          Somos la agencia de modelos más importante del Perú. Si quieres
          iniciarte en este mundo o buscas una modelo para tu evento estas en el
          sitio correcto.
        </p>
        <nav class="footer-box__menu">
          <ul>
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="modelos.html">Modelos</a></li>
            <li><a href="imodel.html">I-Model</a></li>
            <li><a href="contacto.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
  <script src="../js/script.js"></script>
</html>
