<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- escala del viewpoint-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link para FONTAWESOME - Iconos-->
    <script src="https://kit.fontawesome.com/0082413ecf.js" crossorigin="anonymous"></script>
    <!-- link al style -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- FAVICON -->
    <link rel="icon" href="../image/SM_logo.ico">
    <!-- titulo de la pagina -->
    <title>Agencia de modelos en Perú | Soy Modelo</title>

</head>

<body>

    <header>
        <nav class="main-nav row">
            <a href="../../index.html"><img src="../image/SM_logo.png" alt="Logo Soy Modelo" Class="logo"></a> <!-- Icon para movil -->

            <ul class="menu-bar">
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="#">Modelos</a></li>
                <li><a href="imodel.html">I-Model</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li class="menu-mobile__close"><i class="fas fa-window-close"></i></li>
            </ul>
            <div class="menu-mobile">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>

    <main class="modelos-page">
        <section class="hero">
            <div class="intern-hero">
                <img src="../image/intern_hero.jpg" alt="hero interno" class="intern-hero__img">
            </div>
        </section>

        <section class="todos-modelos">
            <div class="modelos-content row">
                <h1>Modelos</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat saepe quae accusantium est veniam
                    soluta deserunt ea atque at? Quasi minus illum tempora illo, provident quam voluptates quaerat magni
                    earum!</p>

            </div>
            <div class="modelos-gallery row">
                <ul class="galeria">
                    <li class="g-item galeria__item1">
                        <img src="../image/modelo1.jpg" alt="modelo modelo1">
                        <div class="g-item__content">
                            <h2>Carlos Montoya</h2>
                            <p>Modelo de pasarela</p>
                            <div class="socialnetwork-icons">
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>

                    </li>
                    <li class="g-item galeria__item1">
                        <img src="../image/modelo2.jpg" alt="modelo modelo2">
                        <div class="g-item__content">
                            <h2>Carlos Montoya</h2>
                            <p>Modelo de pasarela</p>
                            <div class="socialnetwork-icons">
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>

                    </li>
                    <li class="g-item galeria__item1">
                        <img src="../image/modelo3.jpg" alt="modelo modelo3">
                        <div class="g-item__content">
                            <h2>Stella Alvarez</h2>
                            <p>Modelo de pasarela</p>
                            <div class="socialnetwork-icons">
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>

                    </li>
                    <li class="g-item galeria__item1">
                        <img src="../image/modelo4.jpg" alt="modelo modelo4">
                        <div class="g-item__content">
                            <h2>Carlos Montoya</h2>
                            <p>Modelo de pasarela</p>
                            <div class="socialnetwork-icons">
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>

                    </li>
                    <li class="g-item galeria__item1">
                        <img src="../image/modelo5.jpg" alt="modelo modelo5">
                        <div class="g-item__content">
                            <h2>Carlos Montoya</h2>
                            <p>Modelo de pasarela</p>
                            <div class="socialnetwork-icons">
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>

                    </li>

                </ul>
            </div>

            <div class="boton-center"><a href="#" class="boton__fill">Cargar más</a></div>
        </section>

    </main>

    <footer>
        <div class="social">
            <div class="social__content row">
                <p>Sigue nuestras redes sociales y entérate más sobre nuestros eventos</p>
                <div class="sn_icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                </div>
            </div>

        </div>
        <div class="footer-box">
            <img src="../image/SM_logo_footer.png" alt="footer logo" class="footer-box__logo">
            <p class="footer-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eligendi
                asperiores eos dolor repudiandae alias, labore aspernatur optio.</p>
            <nav class="footer-box__menu">
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="modelos.html">Modelos</a></li>
                    <li><a href="imodel.html">I-Model</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </footer>

</body>
<script src="../js/script.js"></script>
</html>