<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- escala del viewpoint-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link para FONTAWESOME - Iconos-->
    <script
      src="https://kit.fontawesome.com/0082413ecf.js"
      crossorigin="anonymous"
    ></script>
    <!-- link al style -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- FAVICON -->
    <link rel="icon" href="../image/SM_logo.ico" />
    <!-- titulo de la pagina -->
    <title>Te ofrecemos tres servicios a tu medida | Soy Modelo</title>
    <meta
      name="description"
      content="Nuestra agencia estandarizó 3 servicios standar, Plata, Oro y Diamante. Ademas, podemos desarrollar un servicio a tu medida."
    />
    <meta
      name="keywords"
      content="Servicios, Fotografia, Audiovisuales, oro, plata, diamante, modelo, Peru"
    />
  </head>

  <body>
    <header>
      <nav class="main-nav row">
        <a href="../../index.html"
          ><img src="../image/SM_logo.png" alt="Logo Soy Modelo" class="logo"
        /></a>
        <!-- Icon para movil -->

        <!-- Fin Icon para movil -->
        <ul class="menu-bar">
          <li><a href="../../index.html">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="modelos.html">Modelos</a></li>
          <li><a href="imodel.html">I-Model</a></li>
          <li><a href="contacto.html">Contacto</a></li>
          <li class="menu-mobile__close">
            <i class="fas fa-window-close"></i>
          </li>
        </ul>
        <div class="menu-mobile">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
    </header>

    <main class="servicios-page">
      <section class="hero">
        <div class="intern-hero">
          <img
            src="../image/intern_hero_opti.jpg"
            alt="hero interno"
            class="intern-hero__img"
          />
        </div>
      </section>

      <section class="servicios">
        <div class="row servicios__box">
          <h1>Servicios</h1>

          <div class="servicios__content">
            <div class="servicio fotografia">
              <img
                src="../image/servicio_fotografia_opti.jpg"
                alt="Servicio de Fotografía"
              />
              <div class="servicio__content fotografia__content">
                <div class="servicio__content--box">
                  <h2>Fotografía</h2>
                  <ul>
                    <li>
                      <i class="fas fa-user-tie"></i>
                      <p>Fotografo profesional</p>
                    </li>
                    <li>
                      <i class="fas fa-rocket"></i>
                      <p>Equipos de primera</p>
                    </li>
                    <li>
                      <i class="fas fa-history"></i>
                      <p>Sesión de 1 hora</p>
                    </li>
                    <li>
                      <i class="fas fa-edit"></i>
                      <p>10 fotos editadas</p>
                    </li>
                  </ul>
                  <div class="servicio__content--footer">
                    <div>
                      <span class="price">$80</span>
                    </div>
                    <div class="boton">
                      <a class="boton__fill" href="contacto.html"
                        >Contáctanos</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="servicio audiovisual">
              <img
                src="../image/servicio_audiovisual_opti.jpg"
                alt="Servicio de produccion audiovisual"
              />
              <div class="servicio__content audiovisual__content">
                <div class="audiovisual__content--box">
                  <h2>Audiovisual</h2>
                  <ul>
                    <li>
                      <i class="fas fa-user-tie"></i>
                      <p>Equipo de dirección</p>
                    </li>
                    <li>
                      <i class="fas fa-rocket"></i>
                      <p>Equipos de primera</p>
                    </li>
                    <li>
                      <i class="fas fa-history"></i>
                      <p>1 día de grabación</p>
                    </li>
                    <li>
                      <i class="fas fa-edit"></i>
                      <p>Post producción</p>
                    </li>
                  </ul>
                  <div class="servicio__content--footer">
                    <div>
                      <span class="price">$500</span>
                    </div>
                    <div class="boton">
                      <a class="boton__fill" href="contacto.html"
                        >Contáctanos</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="servicio fotografia">
              <img
                src="../image/servicio_streaming_opti.jpg"
                alt="Servicio de Fotografía"
              />
              <div class="servicio__content fotografia__content">
                <div class="fotografia__content--box">
                  <h2>Streaming</h2>

                  <ul>
                    <li>
                      <i class="fas fa-user-tie"></i>
                      <p>Soporte técnico</p>
                    </li>
                    <li>
                      <i class="fas fa-rocket"></i>
                      <p>Equipos de primera</p>
                    </li>
                    <li>
                      <i class="fas fa-history"></i>
                      <p>1 hora de streaming</p>
                    </li>
                    <li>
                      <i class="fas fa-edit"></i>
                      <p>Set de locación</p>
                    </li>
                  </ul>
                  <div class="servicio__content--footer">
                    <div>
                      <span class="price">$50</span>
                    </div>
                    <div class="boton">
                      <a class="boton__fill" href="contacto.html"
                        >Contáctanos</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="social">
        <div class="social__content row">
          <p>
            Sigue nuestras redes sociales y entérate más sobre nuestros eventos
          </p>
          <div class="sn-icons">
            <a class="sn-icons__link sn-icons__link--fb" href="#"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="sn-icons__link sn-icons__link--tw" href="#"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="sn-icons__link sn-icons__link--ig" href="#"
              ><i class="fab fa-instagram"></i
            ></a>
            <a class="sn-icons__link sn-icons__link--gp" href="#"
              ><i class="fab fa-google-plus-g"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="footer-box">
        <a class="" href="/index.html"
          ><img
            src="/assets/image/SM_logo_footer.png"
            alt="footer logo"
            class="footer-box__logo"
        /></a>
        <p class="footer-box__text">
          Somos la agencia de modelos más importante del Perú. Si quieres
          iniciarte en este mundo o buscas una modelo para tu evento estas en el
          sitio correcto.
        </p>
        <nav class="footer-box__menu">
          <ul>
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="modelos.html">Modelos</a></li>
            <li><a href="imodel.html">I-Model</a></li>
            <li><a href="contacto.html">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
  <script src="../js/script.js"></script>
</html>
