.articulo {
  border-radius: 0.5rem;
  //max-width: 30rem;
  overflow: hidden;
  position: relative;

  flex: 1 0 250px;

  &__main-img {
    position: relative;
    height: 45rem;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    align-items: flex-end;

    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      -webkit-filter: brightness(75%) grayscale(10%);
      filter: brightness(75%) grayscale(10%);
    }

    &--detail {
      transition: all 0.3s ease-in-out;
    }
    a h2 {
      position: relative;
      z-index: 5;
      color: white;
      font-size: 2rem;

      &:hover {
        text-decoration: underline;
      }
    }
    &--icons {
      position: relative;
      z-index: 5;

      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 1.4rem;
      gap: 1rem;
      a {
        color: white;
      }
    }

    .icon-box {
      margin-bottom: 1rem;
    }
  }

  &__content {
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: -100%;
    padding: 2rem;
    background-color: white;
    color: $bg-dark;
    transition: all 0.3s ease-in-out;

    .blog-excerpt {
      margin-bottom: 2rem;
    }

    .boton__fill {
      font-size: 1.4rem;
    }
  }

  &:hover {
    .articulo__content {
      bottom: 0;
    }

    .articulo__main-img--detail {
      transform: translateY(-35rem);

      @include respond(tab-port) {
        transform: translateY(-20rem);
      }

      @include respond(phone) {
        transform: translateY(-25rem);
      }
    }
  }
}

.blog-category {
  color: $orange;
  font-size: 1.4rem;
  text-decoration: underline;
  cursor: pointer;
}

/*
.articulo {
  width: 30%;
  flex: 1 0 200px;
  //border-left: 1px solid $main-color;
  border-radius: 1rem;
  //background-color: $light-grey;
  overflow: hidden;
  position: relative;

  &__main-img {
    width: 100%;
    height: 420px;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom, transparent, black);
    }

    .img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
  }

  &__icons {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 1rem;
    right: 1rem;

    i {
      display: inline-block;
      margin-left: 0.3rem;
      font-size: 1.5rem;
      color: white;
    }
    .articulo__icons--share span {
      margin-right: 0.2rem;
    }

    div span {
      font-size: 1.2rem;
    }

    .icon-box {
      margin-bottom: 1rem;
      text-align: right;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: absolute;
    margin: 0 1rem;
    bottom: 1rem;

    h2 {
      color: $orange;
      font-size: 2.5rem;
      height: 7.5rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*
.articulo {
  width: 30%;
  flex: 1 0 200px;
  //border-left: 1px solid $main-color;
  border-radius: 1rem;
  background-color: $light-grey;
  overflow: hidden;
  position: relative;

  &__main-img {
    width: 100%;
    height: 320px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__share {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;

    i {
      font-size: 2.5rem;
      color: $orange;
    }
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 1.2rem;

    &--img {
      width: 5rem;
      height: 5rem;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid $orange;
    }
    &--content {
      color: $bg-dark;
      display: inline-block;
      margin-left: 1rem;
      p {
        font-size: 1rem;
        margin: 0;
        &:first-child {
          font-size: 1.4rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  &__content {
    display: inline-block;
    margin: 1rem 1rem;
    color: $bg-dark;
    min-height: 25rem;

    h2 {
      color: $main-color;
      font-size: 2.5rem;
    }
  }

  &__boton {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    a {
      display: inline-block;
      font-size: 1.4rem;
    }
  }
}
*/
