.todos-modelos {
  margin: 50px 10px;
}

.galeria {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.g-item {
  height: 350px;
  position: relative;

  flex: 1 0 200px;
}

.g-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.g-item__content {
  position: absolute;
  bottom: 10px;
  left: 10px;

  color: white;
}

.g-item__content h2 {
  color: $main-color;
}
