@media only screen and (max-width: 768px) {
  /*******************************************************************/
  /*                           NAVIGATION                            */
  /*******************************************************************/

  .menu-mobile {
    display: block;
  }

  .menu-mobile__close {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 10px;
    left: -45px;
  }

  .menu-mobile__close i {
    font-size: 250%;
    color: $light-grey;
  }

  .menu-bar {
    margin-right: 0;
    position: fixed;
    height: 100vh;
    width: 80%;
    top: 0;
    right: 0;
    background-color: $terceary-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(120%);
    transition: 0.3s;
  }

  .menu-bar.active {
    transform: translateX(0);
  }

  .menu-bar li a {
    font-size: 150%;
  }

  /*******************************************************************/
  /*                           HOME                                  */
  /*******************************************************************/

  /* HERO */
  .hero-box__content {
    left: 40%;
  }

  .boton {
    margin-bottom: 20px;
  }

  /* footer */

  /* social network */

  .social__content {
    justify-content: center;
  }
  .social__content p {
    display: none;
  }

  p.footer-box__text {
    display: none;
  }

  /*******************************************************************/
  /*                           PAGE CONTACT                          */
  /*******************************************************************/

  .contact-box {
    gap: 20px;
  }
}

@media only screen and (max-width: 480px) {
  /*******************************************************************/
  /*                           HOME                                  */
  /*******************************************************************/

  /* HERO */
  .hero-box__content {
    left: 50%;
  }

  /* MODELOS */

  .modelo:last-child {
    display: none;
  }

  /* como funciona */
  .como-funciona__content {
    margin: 0 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 40px;
  }

  .como-funciona__content--box1 {
    grid-column: unset;
  }

  .footer-box__menu {
    text-align: center;
  }

  .footer-box__menu li a {
    font-size: 75%;
  }

  /* MODELOS 
    .modelos-box__gallery{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
        
    }*/

  .modelo {
    /*object-position: top;*/
    height: 300px;
  }

  /*******************************************************************/
  /*                           SERVICIOS                             */
  /*******************************************************************/

  .servicios-content div div {
    margin: 5px;
  }

  /*******************************************************************/
  /*                          PAGE MODELOS                             */
  /*******************************************************************/
}
