.servicios {
  margin: 50px 0;
  h1 {
    margin-left: 10px;
    margin-bottom: 30px;
  }
}

.servicios-content {
  display: flex;
  flex-direction: column;
  .fotografia {
    height: 350px;
    display: flex;
    @include respond(phone) {
      height: unset;
      flex-direction: column;
    }
  }
  .audiovisual {
    @extend .fotografia;
  }

  p {
    font-size: 80%;
  }

  .boton {
    margin-top: 10px;
    display: inline-block;
  }
}

.fotografia {
  img {
    width: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    @include respond(phone) {
      width: 100%;
    }
  }

  &__content {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include respond(phone) {
      width: 100%;
    }

    &--box {
      padding: 25px;
    }
  }
}
.audiovisual {
  flex-direction: row-reverse;

  img {
    width: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    @include respond(phone) {
      width: 100%;
    }
  }

  &__content {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include respond(phone) {
      width: 100%;
    }

    &--box {
      padding: 25px;

      text-align: right;
    }
  }
}
