/* COMPONENTES */
@import "abstract/variables";

@import "base/animation";

@import "componentes/general";
@import "componentes/layout";
@import "componentes/home";
@import "componentes/footer";
@import "componentes/header";
@import "componentes/servicios";
@import "componentes/modelos";
@import "componentes/imodel";
@import "componentes/contact";
@import "componentes/imodel-post";

@import "componentes/queries";

/* typography */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Roboto:wght@400;500&display=swap");

/* NORMALIZE */

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/**********************************************/
/* UTILES */
/**********************************************/

.boton__fill {
  padding: 8px 15px;
  background-color: $secondary-color;
  border-radius: 5px;

  color: white;
}

.boton__ghost {
  padding: 8px 15px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  transition: all 0.3s;
}
.boton__ghost:hover {
  padding: 8px 15px;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  border-radius: 5px;

  color: white;
}

.boton-center {
  text-align: center;
  padding: 50px 0;
}

.boton-box {
  display: inline-block;
  margin: 15px 0;
}

.a-link {
  color: white;
}

.a-link__dark {
  color: $darkPurple;
}
.a-link__pink {
  color: $secondary-color;
}

/* INTERN HERO */

.intern-hero__img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;

  -webkit-filter: brightness(0.5);

  filter: brightness(0.5);
}
