/* COMPONENTES */
/* VARIABLES */
/*

0 - 600px:    Phone
600 - 900px:    Tablet porttrait
900 - 1200px:    Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px +        Big desktop


$breakpoints args choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Roboto:wght@400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: #1f0c30;
  color: #e1e1e1; }

.row {
  max-width: 1200px;
  margin: 0 auto; }

h1,
h2 {
  font-family: "Josefin Sans"; }

h1 {
  font-size: 5rem;
  margin: 15px 0 30px 0;
  line-height: 5.2rem; }

h2 {
  font-size: 3rem;
  margin: 5px 0 15px 0;
  line-height: 3.5rem; }

h3 {
  font-size: 2rem; }

a {
  text-decoration: none; }

p {
  margin: 10px 0; }

ul li {
  list-style: none; }

/* typography */
@-webkit-keyframes banner {
  0% {
    background-image: url("../image/Slider1_opti.jpg"); }
  20% {
    background-image: url("../image/Slider1_opti.jpg"); }
  25% {
    background-image: url("../image/Slider2_opti.jpg"); }
  45% {
    background-image: url("../image/Slider2_opti.jpg"); }
  50% {
    background-image: url("../image/Slider3_opti.jpg"); }
  70% {
    background-image: url("../image/Slider3_opti.jpg"); }
  75% {
    background-image: url("../image/Slider4_opti.jpg"); }
  95% {
    background-image: url("../image/Slider4_opti.jpg"); }
  100% {
    background-image: url("../image/Slider1_opti.jpg"); } }

@keyframes banner {
  0% {
    background-image: url("../image/Slider1_opti.jpg"); }
  20% {
    background-image: url("../image/Slider1_opti.jpg"); }
  25% {
    background-image: url("../image/Slider2_opti.jpg"); }
  45% {
    background-image: url("../image/Slider2_opti.jpg"); }
  50% {
    background-image: url("../image/Slider3_opti.jpg"); }
  70% {
    background-image: url("../image/Slider3_opti.jpg"); }
  75% {
    background-image: url("../image/Slider4_opti.jpg"); }
  95% {
    background-image: url("../image/Slider4_opti.jpg"); }
  100% {
    background-image: url("../image/Slider1_opti.jpg"); } }

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.rotating {
  -webkit-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
  transition: all 2s; }
  .rotating:hover {
    -webkit-animation: unset;
    animation: unset; }

.a-link {
  color: white; }
  .a-link__dark {
    color: #1f0c30; }
  .a-link__pink {
    color: #c70d9b; }
  .a-link__orange {
    color: #ff4500; }

.boton__fill {
  padding: 8px 15px;
  background-color: #ff4500;
  border-radius: 5px;
  border: 1px solid transparent;
  color: white; }

.boton__ghost {
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  transition: 0.3s all; }

.boton__ghost:hover {
  padding: 8px 15px;
  background-color: #c70d9b;
  border-radius: 5px;
  border: 1px solid #c70d9b;
  color: white; }

.boton__ghost-or {
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  transition: 0.3s all; }

.boton__ghost-or:hover {
  padding: 8px 15px;
  background-color: #ff4500;
  border-radius: 5px;
  border: 1px solid #ff4500;
  color: white; }

.boton-center {
  text-align: center;
  padding: 50px 0; }

.boton-box {
  display: inline-block;
  margin: 15px 0; }

.sn-icons__link--fb {
  display: inline-block;
  padding: 1rem 1.4rem;
  border-radius: 50%;
  transform: translateY(0);
  transition: all 0.2s; }
  .sn-icons__link--fb:hover {
    background-color: #3b5998;
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.sn-icons__link--tw {
  display: inline-block;
  padding: 1rem 1.1rem;
  border-radius: 50%;
  transform: translateY(0);
  transition: all 0.2s; }
  .sn-icons__link--tw:hover {
    background-color: #00acee;
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.sn-icons__link--ig {
  display: inline-block;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  transform: translateY(0);
  transition: all 0.2s; }
  .sn-icons__link--ig:hover {
    background-color: #e1306c;
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.sn-icons__link--gp {
  display: inline-block;
  padding: 1rem 0.9rem;
  border-radius: 50%;
  transform: translateY(0);
  transition: all 0.2s; }
  .sn-icons__link--gp:hover {
    background-color: #db4a39;
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.g-item {
  height: 350px;
  position: relative;
  flex: 1 0 200px;
  border-radius: 1rem;
  overflow: hidden; }
  .g-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .g-item__content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white; }
    .g-item__content h2 {
      color: #ff4500;
      font-size: 2.5rem; }
  .g-item .socialnetwork-icons {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column; }
    .g-item .socialnetwork-icons i {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      text-shadow: 0 0 10px black; }

.articulo {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  flex: 1 0 250px; }
  .articulo__main-img {
    position: relative;
    height: 45rem;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    align-items: flex-end; }
    .articulo__main-img .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      -webkit-filter: brightness(75%) grayscale(10%);
      filter: brightness(75%) grayscale(10%); }
    .articulo__main-img--detail {
      transition: all 0.3s ease-in-out; }
    .articulo__main-img a h2 {
      position: relative;
      z-index: 5;
      color: white;
      font-size: 2rem; }
      .articulo__main-img a h2:hover {
        text-decoration: underline; }
    .articulo__main-img--icons {
      position: relative;
      z-index: 5;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 1.4rem;
      gap: 1rem; }
      .articulo__main-img--icons a {
        color: white; }
    .articulo__main-img .icon-box {
      margin-bottom: 1rem; }
  .articulo__content {
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: -100%;
    padding: 2rem;
    background-color: white;
    color: #151515;
    transition: all 0.3s ease-in-out; }
    .articulo__content .blog-excerpt {
      margin-bottom: 2rem; }
    .articulo__content .boton__fill {
      font-size: 1.4rem; }
  .articulo:hover .articulo__content {
    bottom: 0; }
  .articulo:hover .articulo__main-img--detail {
    transform: translateY(-35rem); }
    @media only screen and (max-width: 56.25em) {
      .articulo:hover .articulo__main-img--detail {
        transform: translateY(-20rem); } }
    @media only screen and (max-width: 37.5em) {
      .articulo:hover .articulo__main-img--detail {
        transform: translateY(-25rem); } }

.blog-category {
  color: #ff4500;
  font-size: 1.4rem;
  text-decoration: underline;
  cursor: pointer; }

.servicio {
  flex: 0 0 300px;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  color: #151515; }
  .servicio img {
    width: 100%;
    height: 20rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
  .servicio__content {
    padding: 2rem 4rem;
    color: #151515; }
    .servicio__content ul li {
      display: flex;
      align-items: center; }
      .servicio__content ul li i {
        font-size: 2rem;
        color: #ff4500;
        flex: 0 0 40px; }
    .servicio__content--footer {
      margin: 2rem 0 1rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .servicio__content--footer .price {
        font-size: 2.2rem;
        font-weight: 800;
        color: inherit; }
      .servicio__content--footer .boton__fill {
        font-size: 1.4rem; }

/*
.servicios-content {
  display: flex;
  flex-direction: column;
  .fotografia {
    height: 350px;
    display: flex;
    @include respond(phone) {
      height: unset;
      flex-direction: column;
    }
  }
  .audiovisual {
    @extend .fotografia;
  }

  p {
    font-size: 1.6rem;
  }

  .boton {
    margin-top: 10px;
    display: inline-block;
    font-size: 1.6rem;
  }

  @include respond(phone) {
    div div {
      margin: 5px;
    }
  }
}

.fotografia {
  img {
    width: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    @include respond(phone) {
      width: 100%;
    }
  }

  &__content {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include respond(phone) {
      width: 100%;
    }

    &--box {
      padding: 25px;
    }
  }
}
.audiovisual {
  flex-direction: row-reverse;

  img {
    width: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    @include respond(phone) {
      width: 100%;
    }
  }

  &__content {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include respond(phone) {
      width: 100%;
    }

    &--box {
      padding: 25px;

      text-align: right;
    }
  }
}
*/
/******************************************** hero *********************************/
.hero-box {
  display: block;
  position: relative;
  height: 60rem;
  width: 100%;
  background: url(../image/Slider1.jpg);
  background-position: center;
  background-size: cover;
  -webkit-animation: banner 28s infinite linear;
  animation: banner 28s infinite linear;
  transition: all 0.3s ease-in-out; }
  .hero-box::before {
    content: "";
    height: 100%;
    display: block;
    background: linear-gradient(to bottom right, #7209b7, #c70d9b);
    opacity: 0.3; }
  .hero-box__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    max-width: 60rem;
    min-width: 28rem; }
    .hero-box__content h1 {
      font-size: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .hero-box__content {
        left: 40%; } }
    @media only screen and (max-width: 37.5em) {
      .hero-box__content {
        left: 50%; } }

@media only screen and (max-width: 37.5em) {
  .boton-box .boton {
    margin-bottom: 20px; } }

.boton-box div {
  display: inline-block;
  font-size: 1.6rem; }
  .boton-box div:not(:last-child) {
    margin-right: 2rem; }

/**************************** HEADER INTERNO ***************************************/
.intern-hero__img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  margin-bottom: 8rem; }

.promocion {
  margin-top: 8rem;
  margin-bottom: 8rem; }

.promocion-box {
  display: flex;
  background-color: #c70d9b;
  border-radius: 0.5rem; }
  @media only screen and (max-width: 56.25em) {
    .promocion-box {
      flex-direction: column;
      margin: 0 1rem 0 1rem; } }
  .promocion-box__img {
    overflow: hidden;
    border-radius: 0.5rem;
    padding: 2rem;
    flex: 1 0 30rem; }
    .promocion-box__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      border-radius: 0.5rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); }
      @media only screen and (max-width: 56.25em) {
        .promocion-box__img img {
          -o-object-position: 50% 20%;
          object-position: 50% 20%; } }
  .promocion-box__content {
    padding: 2rem; }
    .promocion-box__content--text {
      display: flex; }
      .promocion-box__content--text .text-box {
        flex: 1 0 50%;
        padding-right: 1rem;
        border-right: 1px solid white;
        position: relative; }
        @media only screen and (min-width: 112.5em) {
          .promocion-box__content--text .text-box {
            flex: 1 0 35%; } }
        @media only screen and (max-width: 75em) {
          .promocion-box__content--text .text-box {
            flex: 1 0 30%; } }
        @media only screen and (max-width: 37.5em) {
          .promocion-box__content--text .text-box {
            flex: 1 0 50%;
            border: none; } }
        .promocion-box__content--text .text-box a {
          display: inline-block;
          position: absolute;
          bottom: 0; }
          @media only screen and (max-width: 37.5em) {
            .promocion-box__content--text .text-box a {
              position: relative;
              margin-top: 3rem; } }
          .promocion-box__content--text .text-box a:hover {
            box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.5);
            transform: translateY(-3px); }
      .promocion-box__content--text .list-box {
        flex: 1 0 50%;
        padding-left: 2rem; }
        @media only screen and (min-width: 112.5em) {
          .promocion-box__content--text .list-box {
            flex: 1 0 65%; } }
        @media only screen and (max-width: 75em) {
          .promocion-box__content--text .list-box {
            flex: 1 0 70%; } }
        @media only screen and (max-width: 37.5em) {
          .promocion-box__content--text .list-box {
            display: none; } }
        .promocion-box__content--text .list-box li {
          display: flex;
          align-items: center; }
          .promocion-box__content--text .list-box li i {
            flex: 0 0 40px; }

footer {
  background-color: #151515;
  margin-top: 8rem; }

.social {
  background-color: #7209b7;
  padding: 0 10px; }
  .social__content {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .social__content a {
      color: white; }
      .social__content a:not(:last-child) {
        margin-right: 1.5rem; }
        @media only screen and (max-width: 56.25em) {
          .social__content a:not(:last-child) {
            margin-right: 0.2rem; } }
      .social__content a i {
        font-size: 2rem; }
        @media only screen and (max-width: 37.5em) {
          .social__content a i {
            font-size: 2.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .social__content p {
        display: none; } }
    @media only screen and (max-width: 37.5em) {
      .social__content {
        justify-content: center; } }

.footer-box {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer-box__logo {
    width: 180px; }
  .footer-box__text {
    max-width: 500px;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .footer-box__text {
        display: none; } }
  .footer-box__menu {
    max-width: 600px;
    padding: 10px 0;
    border-top: 1px solid #525252; }
    @media only screen and (max-width: 37.5em) {
      .footer-box__menu {
        text-align: center; } }
    .footer-box__menu li {
      display: inline-block; }
      .footer-box__menu li:not(:last-child) {
        margin-right: 15px; }
        @media only screen and (max-width: 37.5em) {
          .footer-box__menu li:not(:last-child) {
            margin-right: 0.8rem; } }
      .footer-box__menu li a {
        padding: 3px 5px;
        color: white;
        font-size: 1.6rem; }
        @media only screen and (max-width: 37.5em) {
          .footer-box__menu li a {
            font-size: 1.2rem; } }

/* header */
header {
  background: linear-gradient(to right, #fa0e89, #7209b7);
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 10; }

nav.main-nav {
  height: 6rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav.main-nav .logo {
    width: 18rem;
    height: auto; }

.menu-bar {
  margin-right: 1.2rem; }
  .menu-bar a {
    text-decoration: none;
    color: white;
    padding: 3px 5px;
    border-bottom: 1px solid rgba(250, 250, 250, 0);
    transition: border-bottom 0.3s;
    font-size: 1.8rem; }
    @media only screen and (max-width: 56.25em) {
      .menu-bar a {
        font-size: 1.6rem; } }
  .menu-bar a:hover {
    border-bottom: 1px solid white; }
  .menu-bar li {
    display: inline-block; }
  .menu-bar li:not(:last-child) {
    margin-right: 1rem; }
  .menu-bar.active {
    transform: translateX(0); }
  @media only screen and (max-width: 37.5em) {
    .menu-bar {
      margin-right: 0;
      position: fixed;
      height: 100vh;
      width: 80%;
      top: 0;
      right: 0;
      background-color: #7209b7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(120%);
      transition: 0.3s; }
      .menu-bar li {
        margin-bottom: 1rem; } }

.menu-mobile {
  display: none; }
  .menu-mobile i {
    cursor: pointer;
    margin-right: 15px;
    font-size: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .menu-mobile {
      display: block; } }
  .menu-mobile__close {
    visibility: hidden;
    opacity: 0; }
    @media only screen and (max-width: 37.5em) {
      .menu-mobile__close {
        position: absolute;
        visibility: visible;
        opacity: 1;
        top: 10px;
        left: -45px; }
        .menu-mobile__close i {
          font-size: 3rem;
          color: #e1e1e1; } }

/******************** 
* HOME 
*********************/
/****************************** como funciona **********************************************/
section.como-funciona {
  margin: 10rem 1rem; }

.como-funciona__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .como-funciona__content {
      margin: 0 15px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, -webkit-max-content);
      grid-template-rows: repeat(3, max-content);
      grid-gap: 40px; } }

.como-funciona__content--box1 {
  grid-column: 1 / 3;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .como-funciona__content--box1 {
      grid-column: unset; } }

.como-funciona__content--box1 h1 {
  color: #ff4500; }

.como-funciona__content--box1 h2 {
  color: White;
  font-size: 3rem; }

.como-funciona__content--box3 ul li {
  display: grid;
  grid-template-columns: 50px 1fr; }

.como-funciona__content--box3 ul li .numero span {
  display: inline-block;
  transform: translate(-10%, 5%);
  font-size: 1.6rem;
  color: #ff4500;
  padding: 0.8rem 1.3rem;
  border: 1px solid #ff4500;
  border-radius: 50%; }

.box3__content h3 {
  color: #ff4500; }

/*********************************************** MODELOS *************************************************************/
.modelos {
  margin: 5rem 1rem; }

.modelos-box__gallery {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; }

.modelo {
  flex: 1 0 18rem;
  height: 25rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }
  @media only screen and (max-width: 37.5em) {
    .modelo {
      height: 300px; }
      .modelo:last-child {
        display: none; } }

.servicios {
  margin: 50px 0; }
  @media only screen and (max-width: 75em) {
    .servicios__box {
      padding: 0 1rem; } }
  .servicios h1 {
    margin-left: 10px;
    margin-bottom: 30px;
    color: #ff4500; }
  .servicios__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6.5rem; }

.todos-modelos {
  margin: 50px 10px; }
  .todos-modelos .boton-center {
    font-size: 1.6rem; }
  .todos-modelos .modelos-content h1 {
    color: #ff4500; }

.galeria {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px; }

.page-i-model {
  margin: 50px 10px; }
  .page-i-model .content h1 {
    color: #ff4500; }

.articulos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; }

/* CONTENEDOR PRINCIPAL */
.contact {
  margin-top: 40px; }
  .contact h1 {
    text-align: center;
    color: #ff4500; }

/* CONTENEDOR contact-box */
.contact-box {
  margin: 40px 10px;
  display: flex;
  flex-wrap: wrap; }
  .contact-box div {
    flex: 1 0 300px; }
  @media only screen and (max-width: 37.5em) {
    .contact-box {
      gap: 20px; } }

/* CONTENT */
.contact-content__info {
  font-size: 1.6rem; }
  .contact-content__info p {
    display: inline-block;
    margin: 0; }
  .contact-content__info ul li {
    margin-bottom: 10px; }
    .contact-content__info ul li i {
      display: inline-block;
      margin-right: 5px;
      color: #ff4500; }
      .contact-content__info ul li i.fa-map-marker-alt {
        padding-right: 3px; }
    .contact-content__info ul li a {
      color: white; }

/* FORMULARIO */
.contact-form form select {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  height: 38px;
  padding: 5px; }
  .contact-form form select:focus {
    box-shadow: 0px 0px 10px #fa0e89;
    outline: #fa0e89; }

.contact-form form input {
  margin-bottom: 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
  border: none; }
  .contact-form form input:focus {
    box-shadow: 0px 0px 10px #fa0e89;
    outline: #fa0e89; }

.contact-form form textarea {
  margin-bottom: 10px;
  width: calc(100% - 10px);
  border-radius: 5px;
  border: none;
  padding: 5px; }
  .contact-form form textarea:focus {
    box-shadow: 0px 0px 10px #fa0e89;
    outline: #fa0e89; }

.contact-form input[type="submit"] {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  transition: all 0.3s; }
  .contact-form input[type="submit"]:hover {
    background-color: #ff4500;
    border: 1px solid #ff4500;
    color: white; }

/* Contenedor conctact-map */
section .contact-map {
  margin-top: 50px; }
  section .contact-map .mapouter {
    width: unset; }
  section .contact-map .gmap_canvas {
    width: unset; }
  section .contact-map #gmap_canvas {
    width: 100%; }

footer.contact-footer {
  margin-top: 0; }

.blog-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2rem; }
  @media only screen and (max-width: 75em) {
    .blog-content {
      padding: 1rem; } }
  .blog-content .content-blog {
    grid-column: 1/6;
    line-height: 2.5rem; }
    @media only screen and (max-width: 75em) {
      .blog-content .content-blog {
        grid-column: 1/8; } }
    .blog-content .content-blog__text .titulo2-blog {
      margin: 6rem 0 2rem 0; }
    .blog-content .content-blog__text--header {
      overflow: hidden;
      margin-bottom: 4rem; }
      .blog-content .content-blog__text--header .titulo {
        position: relative; }
        .blog-content .content-blog__text--header .titulo img {
          width: 100%;
          border-radius: 0.5rem;
          max-height: 350px;
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: top;
          object-position: top; }
        .blog-content .content-blog__text--header .titulo h1 {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #ff4500;
          padding: 1.2rem 5rem 0.5rem 5rem;
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
          box-shadow: 0 0 1rem black; }
    .blog-content .content-blog .video-detail {
      margin-top: 6rem;
      display: flex;
      gap: 2rem;
      flex-wrap: wrap; }
      @media only screen and (max-width: 56.25em) {
        .blog-content .content-blog .video-detail {
          flex-direction: column; } }
      .blog-content .content-blog .video-detail__frame iframe {
        flex: 1 0 70%;
        border-radius: 0.5rem;
        outline: 1px solid #ff4500;
        outline-offset: 0.5rem; }
        @media only screen and (max-width: 56.25em) {
          .blog-content .content-blog .video-detail__frame iframe {
            flex: unset;
            width: 100%; } }
      .blog-content .content-blog .video-detail__text {
        flex: 1 0 30%; }
        @media only screen and (max-width: 56.25em) {
          .blog-content .content-blog .video-detail__text {
            flex: unset;
            width: 100%; } }
  .blog-content .side-bar {
    grid-column: 6/8; }
    @media only screen and (max-width: 75em) {
      .blog-content .side-bar {
        grid-column: 1/8;
        grid-row: 2/3; } }
    .blog-content .side-bar__content {
      display: flex;
      justify-content: center; }
