/* COMPONENTES */
/* VARIABLES */
/**************************
* General 
**************************/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Roboto:wght@400;500&display=swap");
html {
  font-family: "Roboto";
  background-color: #1f0c30;
  color: #e1e1e1; }

.row {
  max-width: 1200px;
  margin: 0 auto; }

h1,
h2 {
  font-family: "Josefin Sans"; }

h1 {
  font-size: 200%;
  margin: 15px 0 30px 0; }

h2 {
  font-size: 150%;
  margin: 5px 0 15px 0; }

a {
  text-decoration: none; }

p {
  margin: 10px 0; }

ul li {
  list-style: none; }

.layout-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content max-content; }

/******************** 
* HOME 
*********************/
/******************************************** hero *********************************/
.hero-box {
  display: block;
  position: relative;
  height: 600px;
  width: 100%;
  background: url(../image/Slider1.jpg);
  background-position: center;
  background-size: cover;
  -webkit-animation: banner 28s infinite linear;
  animation: banner 28s infinite linear;
  transition: all 0.3s ease-in-out; }

.hero-box::before {
  content: "";
  height: 100%;
  display: block;
  background: linear-gradient(to bottom right, #7209b7, #c70d9b);
  opacity: 0.3; }

.hero-box__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 600px;
  min-width: 280px; }

.hero-box__content h1 {
  font-size: 300%; }

/*
.hero-box__img {
  object-fit: cover;
  object-position: top;

  filter: brightness(0.5);
}
*/
.boton-box div {
  display: inline-block; }

.boton-box div:not(:last-child) {
  margin-right: 20px; }

/****************************** como funciona **********************************************/
section.como-funciona {
  margin: 100px 10px; }

.como-funciona__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px; }

.como-funciona__content--box1 {
  grid-column: 1 / 3;
  text-align: center; }

.como-funciona__content--box1 h1 {
  color: #fa0e89;
  font-size: 300%; }

.como-funciona__content--box1 h2 {
  color: White;
  font-size: 200%; }

.como-funciona__content--box3 ul li {
  display: grid;
  grid-template-columns: 50px 1fr; }

.como-funciona__content--box3 ul li .numero span {
  display: inline-block;
  transform: translate(-10%, 5%);
  font-weight: 700;
  color: #c70d9b;
  padding: 8px 13px;
  border: 1px solid #c70d9b;
  border-radius: 50%; }

.box3__content h3 {
  color: #c70d9b; }

/*********************************************** MODELOS *************************************************************/
.modelos {
  margin: 50px 10px; }

.modelos-box__gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; }

.modelo {
  flex: 1 0 180px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

footer {
  background-color: #151515; }

.social {
  background-color: #7209b7;
  padding: 0 10px; }

.social__content {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.social__content a {
  color: white; }

.social__content a i {
  font-size: 150%; }

.social__content a:not(:last-child) {
  margin-right: 15px; }

.footer-box {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer-box__logo {
  width: 180px; }

.footer-box__text {
  max-width: 500px;
  text-align: center; }

.footer-box__menu {
  max-width: 600px;
  padding: 10px 0;
  border-top: 1px solid #525252; }

.footer-box__menu li {
  display: inline-block; }

.footer-box__menu li:not(:last-child) {
  margin-right: 15px; }

.footer-box__menu li a {
  padding: 3px 5px;
  color: white; }

/* header */
header {
  background: linear-gradient(to right, #fa0e89, #7209b7);
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 10; }

nav.main-nav {
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center; }

nav .logo {
  width: 180px;
  height: auto; }

.menu-bar {
  margin-right: 15px; }

.menu-bar a {
  text-decoration: none;
  color: white;
  padding: 3px 5px;
  border-bottom: 1px solid rgba(250, 250, 250, 0);
  transition: border-bottom 0.3s; }

.menu-bar a:hover {
  border-bottom: 1px solid white; }

.menu-bar li {
  display: inline-block; }

.menu-bar li:not(:last-child) {
  margin-right: 10px; }

.menu-mobile {
  display: none; }

.menu-mobile__close {
  visibility: hidden;
  opacity: 0; }

.menu-mobile i {
  cursor: pointer;
  margin-right: 15px;
  font-size: 150%; }

.servicios {
  margin: 50px 0; }

.servicios h1 {
  margin-left: 10px;
  margin-bottom: 30px; }

.servicios-content {
  display: flex;
  flex-direction: column; }

.servicios-content div {
  height: 350px; }

.servicios-content div div {
  margin: 25px; }

.servicios-content div div p {
  font-size: 80%; }

.fotografia {
  display: flex;
  flex-direction: row-reverse; }

.fotografia img {
  width: 50%;
  object-fit: cover;
  object-position: top; }

.fotografia div {
  width: 50%; }

.audiovisual {
  display: flex; }

.audiovisual img {
  width: 50%;
  object-fit: cover; }

.audiovisual div {
  width: 50%; }

.todos-modelos {
  margin: 50px 10px; }

.galeria {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px; }

.g-item {
  height: 350px;
  position: relative;
  flex: 1 0 200px; }

.g-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.g-item__content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white; }

.g-item__content h2 {
  color: #fa0e89; }

.page-i-model {
  margin: 50px 10px; }

.articulos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; }

.articulo {
  width: 30%;
  flex: 1 0 200px;
  border-left: 1px solid #fa0e89; }

.articulo__content {
  margin: 5px; }

.articulo img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
  border-left: 1px solid transparent; }

/* CONTENEDOR PRINCIPAL */
.contact {
  margin-top: 40px; }

.contact h1 {
  text-align: center;
  color: #fa0e89; }

/* CONTENEDOR contact-box */
.contact-box {
  margin: 40px 10px;
  display: flex;
  flex-wrap: wrap; }

.contact-box div {
  flex: 1 0 350px; }

/* CONTENT */
.contact-content__info p {
  display: inline-block;
  margin: 0; }

.contact-content__info ul li {
  margin-bottom: 10px; }

.contact-content__info ul li i {
  font-size: 120%;
  margin-right: 5px;
  color: #fa0e89; }

.contact-content__info ul li a {
  color: white; }

/* FORMULARIO */
.contact-form form select {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  height: 38px;
  padding: 5px; }

.contact-form form select:focus {
  box-shadow: 0px 0px 10px #fa0e89;
  outline: #fa0e89; }

.contact-form form input {
  width: calc(100% - 20px);
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
  border: none;
  margin-bottom: 10px; }

.contact-form form input:focus {
  box-shadow: 0px 0px 10px #fa0e89;
  outline: #fa0e89; }

.contact-form form textarea {
  margin-bottom: 10px;
  width: calc(100% - 10px);
  border-radius: 5px;
  border: none;
  padding: 5px; }

.contact-form form textarea:focus {
  box-shadow: 0px 0px 10px #fa0e89;
  outline: #fa0e89; }

.contact-form input[type="submit"] {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  transition: all 0.3s; }

.contact-form input[type="submit"]:hover {
  background-color: #fa0e89;
  border: 1px solid #fa0e89;
  color: white; }

/* Contenedor conctact-map */
section .contact-map {
  margin-top: 50px; }

.contact-map .mapouter {
  width: unset; }

.contact-map .gmap_canvas {
  width: unset; }

#gmap_canvas {
  width: 100%; }

.video-detail {
  display: flex; }

.video-detail__text {
  width: 50%; }

.video-detail iframe {
  width: 50%; }

@-webkit-keyframes banner {
  0% {
    background-image: url("../image/Slider1.jpg"); }
  20% {
    background-image: url("../image/Slider1.jpg"); }
  25% {
    background-image: url("../image/Slider2.jpg"); }
  45% {
    background-image: url("../image/Slider2.jpg"); }
  50% {
    background-image: url("../image/Slider3.jpg"); }
  70% {
    background-image: url("../image/Slider3.jpg"); }
  75% {
    background-image: url("../image/Slider4.jpg"); }
  95% {
    background-image: url("../image/Slider4.jpg"); }
  100% {
    background-image: url("../image/Slider1.jpg"); } }

@keyframes banner {
  0% {
    background-image: url("../image/Slider1.jpg"); }
  20% {
    background-image: url("../image/Slider1.jpg"); }
  25% {
    background-image: url("../image/Slider2.jpg"); }
  45% {
    background-image: url("../image/Slider2.jpg"); }
  50% {
    background-image: url("../image/Slider3.jpg"); }
  70% {
    background-image: url("../image/Slider3.jpg"); }
  75% {
    background-image: url("../image/Slider4.jpg"); }
  95% {
    background-image: url("../image/Slider4.jpg"); }
  100% {
    background-image: url("../image/Slider1.jpg"); } }

@media only screen and (max-width: 768px) {
  /*******************************************************************/
  /*                           NAVIGATION                            */
  /*******************************************************************/
  .menu-mobile {
    display: block; }
  .menu-mobile__close {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 10px;
    left: -45px; }
  .menu-mobile__close i {
    font-size: 250%;
    color: #e1e1e1; }
  .menu-bar {
    margin-right: 0;
    position: fixed;
    height: 100vh;
    width: 80%;
    top: 0;
    right: 0;
    background-color: #7209b7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(120%);
    transition: 0.3s; }
  .menu-bar.active {
    transform: translateX(0); }
  .menu-bar li a {
    font-size: 150%; }
  /*******************************************************************/
  /*                           HOME                                  */
  /*******************************************************************/
  /* HERO */
  .hero-box__content {
    left: 40%; }
  .boton {
    margin-bottom: 20px; }
  /* footer */
  /* social network */
  .social__content {
    justify-content: center; }
  .social__content p {
    display: none; }
  p.footer-box__text {
    display: none; }
  /*******************************************************************/
  /*                           PAGE CONTACT                          */
  /*******************************************************************/
  .contact-box {
    gap: 20px; } }

@media only screen and (max-width: 480px) {
  /*******************************************************************/
  /*                           HOME                                  */
  /*******************************************************************/
  /* HERO */
  .hero-box__content {
    left: 50%; }
  /* MODELOS */
  .modelo:last-child {
    display: none; }
  /* como funciona */
  .como-funciona__content {
    margin: 0 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 40px; }
  .como-funciona__content--box1 {
    grid-column: unset; }
  .footer-box__menu {
    text-align: center; }
  .footer-box__menu li a {
    font-size: 75%; }
  /* MODELOS 
    .modelos-box__gallery{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
        
    }*/
  .modelo {
    /*object-position: top;*/
    height: 300px; }
  /*******************************************************************/
  /*                           SERVICIOS                             */
  /*******************************************************************/
  .servicios-content div div {
    margin: 5px; }
  /*******************************************************************/
  /*                          PAGE MODELOS                             */
  /*******************************************************************/ }

/* typography */
/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  font-size: 16px; }

/**********************************************/
/* UTILES */
/**********************************************/
.boton__fill {
  padding: 8px 15px;
  background-color: #c70d9b;
  border-radius: 5px;
  color: white; }

.boton__ghost {
  padding: 8px 15px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  transition: all 0.3s; }

.boton__ghost:hover {
  padding: 8px 15px;
  border: 1px solid #c70d9b;
  background-color: #c70d9b;
  border-radius: 5px;
  color: white; }

.boton-center {
  text-align: center;
  padding: 50px 0; }

.boton-box {
  display: inline-block;
  margin: 15px 0; }

.a-link {
  color: white; }

.a-link__dark {
  color: #1f0c30; }

.a-link__pink {
  color: #c70d9b; }

/* INTERN HERO */
.intern-hero__img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5); }
