/* CONTENEDOR PRINCIPAL */
.contact {
  margin-top: 40px;
  h1 {
    text-align: center;
    color: $main-color;
  }
}

/* CONTENEDOR contact-box */
.contact-box {
  margin: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  div {
    flex: 1 0 350px;
  }

  @include respond(phone) {
    gap: 20px;
  }
}

/* CONTENT */

.contact-content {
  &__info {
    font-size: 1.6rem;
    p {
      display: inline-block;
      margin: 0;
    }
    ul li {
      margin-bottom: 10px;
      i {
        display: inline-block;
        margin-right: 5px;
        color: $main-color;

        &.fa-map-marker-alt {
          padding-right: 3px;
        }
      }

      a {
        color: white;
      }
    }
  }
}

/* FORMULARIO */

@mixin form-focus {
  box-shadow: 0px 0px 10px $main-color;
  outline: $main-color;
}

.contact-form {
  form {
    select {
      margin-bottom: 10px;
      width: 100%;
      border-radius: 5px;
      height: 38px;
      padding: 5px;

      &:focus {
        @include form-focus;
      }
    }

    input {
      margin-bottom: 10px;
      width: calc(100% - 20px);
      border-radius: 5px;
      height: 30px;
      padding: 5px 10px;
      border: none;

      &:focus {
        @include form-focus;
      }
    }

    textarea {
      margin-bottom: 10px;
      width: calc(100% - 10px);
      border-radius: 5px;
      border: none;
      padding: 5px;
      &:focus {
        @include form-focus;
      }
    }
  }

  input[type="submit"] {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    transition: all 0.3s;

    &:hover {
      background-color: $main-color;
      border: 1px solid $main-color;
      color: white;
    }
  }
}

/* Contenedor conctact-map */
section .contact-map {
  margin-top: 50px;

  .mapouter {
    width: unset;
  }

  .gmap_canvas {
    width: unset;
  }

  #gmap_canvas {
    width: 100%;
  }
}
