.servicios {
  margin: 50px 0;

  &__box {
    @include respond(tab-land) {
      padding: 0 1rem;
    }
  }
  h1 {
    margin-left: 10px;
    margin-bottom: 30px;
    color: $orange;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6.5rem;
  }
}
