@-webkit-keyframes banner {
  0% {
    background-image: url("../../image/Slider1.jpg");
  }

  20% {
    background-image: url("../../image/Slider1.jpg");
  }

  25% {
    background-image: url("../../image/Slider2.jpg");
  }

  45% {
    background-image: url("../../image/Slider2.jpg");
  }

  50% {
    background-image: url("../../image/Slider3.jpg");
  }

  70% {
    background-image: url("../../image/Slider3.jpg");
  }

  75% {
    background-image: url("../../image/Slider4.jpg");
  }
  95% {
    background-image: url("../../image/Slider4.jpg");
  }
  100% {
    background-image: url("../../image/Slider1.jpg");
  }
}
@keyframes banner {
  0% {
    background-image: url("../../image/Slider1.jpg");
  }

  20% {
    background-image: url("../../image/Slider1.jpg");
  }

  25% {
    background-image: url("../../image/Slider2.jpg");
  }

  45% {
    background-image: url("../../image/Slider2.jpg");
  }

  50% {
    background-image: url("../../image/Slider3.jpg");
  }

  70% {
    background-image: url("../../image/Slider3.jpg");
  }

  75% {
    background-image: url("../../image/Slider4.jpg");
  }
  95% {
    background-image: url("../../image/Slider4.jpg");
  }
  100% {
    background-image: url("../../image/Slider1.jpg");
  }
}
