.layout-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content max-content;
}
